<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}"
>
  <head>
    <meta charset="UTF-8" />
    <title>List of Pet Owners</title>
  </head>
  <body>
    <h2>Owners</h1>

    <table id="vets" class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center" style="width: 100px;">Id</th>
          <th class="text-center" style="width: auto;">First Name</th>
          <th class="text-center" style="width: auto">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="owner : ${owners}">
          <td th:text="${owner?.id}">1</td>
          <td th:text="${owner?.firstName}">Joe</td>
          <td th:text="${owner?.lastName}">Back</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
