<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}"
>
  <head>
    <meta charset="UTF-8" />
    <title>List of Vets</title>
  </head>
  <body>
    <!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <h2>Veterinarians</h1>

    <table id="vets" class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center" style="width: 100px;">Id</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="vet : ${vets}">
          <td th:text="${vet?.id}">1</td>
          <td th:text="${vet?.firstName}">Joe</td>
          <td th:text="${vet?.lastName}">Back</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
